/* Import custom variables */
@import "variables";

/* Import custom mixins */
@import "mixins";

/* Place any bootstrap variable changes here */

/* Import bootstrap */
@import "compass_twitter_bootstrap_awesome";

/* Place additional styling here */

/* Navbar fixed top */
body
{
	margin-top: 40px;
}

/* Get rid of form margin on tables */
td
{
 	form
	{
		margin-bottom: 0;
	}
}

/* Remove element animation */
.remove
{
	@include transition( background-color .5s );
	background-color: $errorBackground !important;
}